html
    head
        style
            include style.css
    body
        div.header
            p I love you,Nastya
        div
            |Rozetka
            br
            |you have macBook
            p and iphone 14 pro max
        div
            block content
            hr
            block hello
        div.footer